@import url("colors.css");

* {
    border: none;
}

window.bar {
    background: @base;
    border-radius: 24px;
    opacity: 0.9;
    border: none;
}

window.popup > * {
  border: none;
  box-shadow: none; 
}

window.popup menu {
  margin-top: 12px;
  border-radius: 18px;
  background-color: #221f1c;
  padding: 12px; 
}

window.popup menu menuitem {
  padding: 8px 10px;
  color: #e9e1dc;
  border-radius: 8px;
  transition: background 0.1s ease; 
}

window.popup menu menuitem:hover {
      background: #383431;
}

window.popup menu menuitem:first-child {
      margin-top: 0; 
}

window.popup menu menuitem:last-child {
      margin-bottom: 0; 
}

tooltip,
tooltip > * > *  {
  background: @base;
  color: @text;
  padding: 12px;
  opacity: 0.95;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 24px;
}


.bar-left {
    margin-left: 24px;
}

.bar-right {
    margin-right: 24px;
}

.song-button {
    background: @base;
    border: 0 transparent;
}

.bar-ws-container,
.bar-ws-notfocused,
.bar-ws-focused {
    min-width: 24px;
    background: none;
    border: 0 transparent;
    font-size: 18px;
    font-weight: 500;
    text-shadow: none;
    border-radius: 8px;
    padding: 4px;
    margin-right: 6px;
}



.bar-ws-notfocused {
    color: @highlightMed;
}

.bar-ws-notfocused:hover {
    background: @highlightLow;
    color: @text;
}

.bar-ws-focused{
  color: @text;
}

.song-button {
  color: @text;
  font-weight: 500;
}


.bar-ws-focused:hover {
    background: @love;
}

.song-title {
    font-size: 18px;
    font-weight: 500;
    color: @foam;
}

.song-button {
    padding: 2px;
}

.song-button:hover {
    color: @rose;
}


.bar-clock {
    min-height: 24px;
    min-width: 96px;
    color: @gold;
    background: transparent;
    border-radius: 8px;
    font-size: 24px;
    border: none;
    font-weight: 500;
    margin-right: 24px;
}

.bar-clock:hover {
    background: @highlightLow;
    color: @iris;
}

.calendar {
    background: @base;
    border-radius: 8px;
    opacity: 0.9;
}

.calendar-window {
    background: none;
}

bar
calendar {
    border-radius: 24px;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}

.calendar-container {
    background: @surface;
    border-radius: 12px;
    padding: 12px;
    opacity: 0.9;
}

.date-time {
    font-size: 24px;
    color: @gold;
    padding-top: 108px;
    padding-right: 12px;
}

calendar:selected {
    border-radius: 500px;
    color: @love;
}

.sys-info-container {
    margin: 0 24px;
}

.sys-buttons:hover {
    background: @highlightMed;
}

.sys-buttons {
    font-size: 18px;
    background: @base;
    margin: 0;
    padding: 8px;
}

.control-center {
    min-width: 420px;
    min-height: 966px;
    padding: 24px;
    opacity: 0.95;
    background: @base;
    border-radius: 24px;
}

.control-center-button {
    background: @surface;
    color: @iris;
    border-radius: 24px;
    font-size: 18px;
    min-width: 48px;
    box-shadow: none;
    border: none;
}

.control-center-button:hover {
    background: @highlightMed;
}

.uptime-marker {
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
    color: @subtle;
}

.uptime-info {
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    color: @muted;
}

.brightness-slider {
    margin: 8px;
    background: @base;
    border-radius: 24px;
}

.brightness-container {
    background: @base;
}

scale.brightness-slider trough {
    min-height: 4px;
    background: @overlay;
    border-radius: 24px;
    border: none;
    opacity: 0;
}

scale.brightness-slider slider {
    min-height: 24px;
    min-width: 24px;
    background: transparent;
    border: none;
    box-shadow: none;
}


scale.brightness-slider highlight {
    background: @iris;
    border-radius: 24px;
    padding: 10px;
    border: none;
}

.control-center-buttons {
    background: @surface;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 6px;
    border-radius: 48px;
    opacity: 0.9;
    text-shadow: none;
    box-shadow: none;
    border: 2px solid @text;
}

.control-center-buttons:hover {
    background: @highlightMed;
}

.network-buttons-label {
    padding: 4px;
    font-size: 16px;
    padding-left: 8px;
    color: @text;
}

.reboot-button,
.shutdown-button {
    border-radius: 100%;
    text-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: @base;
    margin: 2px;
    margin-bottom: 0;
}

.shutdown-button {
    background: @love;
    padding: 2px 7px;
}

.reboot-button {
    background: @gold;
    padding: 4px 7px;
}

.reboot-button:hover,
.shutdown-button:hover {
    background: @pine;
}

.spotify-container {
    min-height: 144px;
    padding: 12px;
    margin-top: 24px;
    border-radius: 24px;
}

.spotify-not-open {
    font-size: 24px;
    color: @text;
    background: @highlightLow;
}

.open-spotify {
    font-size: 48px;
    margin: 24px;
    margin-left: 48px;
    background: @overlay;
    border-radius: 8px;
    min-width: 96px;
    min-height: 96px;
}

.cc-track-info {
    min-width: 396px;
}

.cc-song-button {
    background: none;
    color: @text;
    border: none;
    box-shadow: none;
}

.cc-track-name {
    color: @text;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px
}

.loop-button-active {
    color: @text;
}

.cc-artist-name {
    margin-top: 2px;
    color: @subtle;
    font-size: 18px;
}

.loop-button-none {
    color: @muted;
}

.cc-play-pause {
    background: @overlay;
    opacity: 0.9;
    text-decoration: none;
    text-shadow: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    color: @text;
    padding: 4px 10px;
}
