@import url("colors.css");

.control-center {
    min-width: 420px;
    min-height: 966px;
    padding: 24px;
    opacity: 0.8;
    background: @overlay;
    border-radius: 24px;
    border: 0.5px solid @text;
}

.uptime-marker {
    font-size: 16px;
    font-weight: 500;
    margin-right: 4px;
    margin-bottom: 12px;
    color: @subtle;
}

.uptime-info {
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 12px;
    color: @muted;
}

.volume-slider,
.brightness-slider {
  background: @overlay;
  border-radius: 24px;
  margin-left: 8px;
}

.volume-container,
.brightness-container {
  background: @overlay;
  margin: 4px;
}

.volume-container{
  margin-bottom: 12px;
}

scale.volume-slider trough,
scale.brightness-slider trough {
    min-height: 4px;
    background: @surface;
    border-radius: 24px;
    border: none;
    opacity: 0;
}

scale.volume-slider slider,
scale.brightness-slider slider {
    min-height: 24px;
    min-width: 24px;
    background: transparent;
    border: none;
    box-shadow: none;
}

scale.volume-slider highlight,
scale.brightness-slider highlight {
    background: @iris;
    border-radius: 24px;
    padding: 10px;
    border: none;
}

.control-center-buttons {
    background: @surface;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-radius: 48px;
    opacity: 0.9;
    text-shadow: none;
    box-shadow: none;
    border: 2px solid @text;
}

.control-center-buttons:hover {
    background: @highlightMed;
}

.network-buttons-label {
    padding: 4px;
    font-size: 16px;
    padding-left: 8px;
    color: @text;
}

.cc-sysinfo-container {
  padding: 12px;
  padding-bottom: 0;
  padding-right: 0;
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 24px;
  background: @surface;
}

.cc-sysinfo {
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Roboto Mono', monospace;
  color: @text;
}

.spotify-container {
    min-height: 144px;
    padding: 12px;
    margin-top: 24px;
    border-radius: 24px;
}

.spotify-not-open {
    font-size: 24px;
    color: @text;
    background: @highlightLow;
}

.open-spotify {
    font-size: 48px;
    margin: 24px;
    margin-left: 48px;
    background: @overlay;
    border-radius: 8px;
    min-width: 96px;
    min-height: 96px;
}

.cc-track-info {
    min-width: 396px;
}

.cc-song-button {
    background: none;
    color: @text;
    border: none;
    box-shadow: none;
}

.cc-track-name {
    color: @text;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px
}

.loop-button-active {
    color: @text;
}

.cc-artist-name {
    margin-top: 2px;
    color: @subtle;
    font-size: 18px;
}

.loop-button-none {
    color: @muted;
}

.cc-play-pause {
    background: @overlay;
    opacity: 0.9;
    text-decoration: none;
    text-shadow: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    color: @text;
    padding: 4px 10px;
}

.reboot-button,
.cc-shutdown-button {
    border-radius: 100%;
    text-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: @base;
    margin: 2px;
    margin-bottom: 0;
}

.cc-shutdown-button {
    background: @love;
}

.cc-shutdown-button:hover {
    background: @pine;
}
